extends ../layout

block content
  h2 API Examples
  hr

  .row
    .col-sm-4
      a(href='/api/instagram', style='color: #fff')
        .panel.panel-default(style='background-color: #947563')
          .panel-body
            img(src='http://i.imgur.com/aRc6LUJ.png', height=40)
            |  Instagram
